name: Typecheck

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  typecheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Run type checking
      run: |
        make typecheck
